// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  .btn-read {
    width: 160px;
    background-color: #e8e8e8;
    font-weight: 300;
    border-radius: 0;
    color: black;
    &:hover {
      background-color: #d8d8d8;
    }
  }
  .card-block {
    background-color: white;
    border-radius: 0%;
    border-bottom: 1px;
  }
  .card-image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;

  }
  .card-title {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  .card-create {
    font-size: 0.8rem;
    color: #787878;
    font-weight: 300;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;

  }
  .card-description {
    font-size: 0.9rem;
  }
  .card-comment {
    font-size: 0.9rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-weight: 1300;
    font-style: italic;
  }

}

.card > img {
  margin-bottom: .75rem;
}


.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer p {
  margin-bottom: .25rem;
}

/*
* Custom styles
*/

.social-links li a {
  font-size: 1.5em;
}

.author-bio {
  background-color: white;
  padding: 15px 45px;
  margin: 30px 0;
  img {
    border-radius: 50%;
  }
  img, h4 {
    margin-bottom: 10px;
  }
  h4 {
    font-weight: bold;
    font-size: 22px;
  }
  h6 {
    font-weight: 300;
    font-size: 16px
  }
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  width: 100%;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}


.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}