<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Blog</h4>
        <%= render "form", blog: @blog %>
      </div>
    </div>
  </div>
</div>
<%= link_to "Show this blog", @blog %>


